<h1 mat-dialog-title>{{ this.dialogData.title || '' }}</h1>
<div mat-dialog-content >
    <form [formGroup]="formStudent">
        <mat-form-field class="w-100 mb-2" appearance="fill">
            <mat-label>Nombre</mat-label>
            <mat-label>Nombre</mat-label>
        </mat-form-field>
    
        <mat-form-field class="w-100 mb-2" appearance="fill">
            <mat-label>Apellido</mat-label>
            <mat-label>Apellido</mat-label>
        </mat-form-field>
    
        <mat-form-field class="w-100 mb-2" appearance="fill">
            <mat-label>DNI</mat-label>
            <mat-label>DNI</mat-label>
        </mat-form-field>
    
        <mat-form-field class="w-100 mb-2" appearance="fill">
            <mat-label>Mail</mat-label>
            <mat-label>Mail</mat-label>
        </mat-form-field>
    
        <mat-form-field class="w-100 mb-2" appearance="fill">
            <mat-label>Mensaje</mat-label>
            <mat-label>Mensaje</mat-label>
        </mat-form-field>
    </form>
</div>