<div *ngIf="session$ | async as session">
    <div *ngIf="session.isActive">
        <mat-nav-list>
            <mat-list-item routerLink="inicio">
                <mat-icon color="primary" mat-list-icon>home</mat-icon>
                <div mat-line>Inicio</div>
            </mat-list-item>
            <mat-list-item routerLink="estudiantes/lista">
                <mat-icon color="primary" mat-list-icon>person</mat-icon>
                <div mat-line>Estudiantes</div>
            </mat-list-item>
            <mat-list-item routerLink="cursos/lista">
                <mat-icon color="primary" mat-list-icon>assignment</mat-icon>
                <div mat-line>Cursos</div>
            </mat-list-item>
            <mat-list-item routerLink="inscripciones/lista">
                <mat-icon color="primary" mat-list-icon>note_alt</mat-icon>
                <div mat-line>Inscripciones</div>
            </mat-list-item>
            <mat-list-item routerLink="usuarios/lista">
                <mat-icon color="primary" mat-list-icon>account_circle</mat-icon>
                <div mat-line>Usuarios</div>
            </mat-list-item>
            <mat-list-item (click)="logout()">
                <mat-icon color="primary" mat-list-icon>logout</mat-icon>
                <div mat-line>Cerrar Sesión</div>
            </mat-list-item>
        </mat-nav-list>
    </div>
</div>