<div class="d-flex justify-content-between mb-3">
    <h1 class="align-middle">Tabla de cursos</h1>
    <div *ngIf="session$ | async as session">
        <div *ngIf="session.user?.isAdmin">
            <button id="btnAddCourse" class="align-middle" color="primary" mat-raised-button (click)="add()">
                <mat-icon>assignment_add</mat-icon>
                Agregar curso
            </button>
        </div>
    </div>
</div>

<div *ngIf="this.dataSource.data.length > 0">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mb-3 w-100">
        <!-- Columna nombre -->
        <ng-container matColumnDef="Nombre">
            <th mat-header-cell *matHeaderCellDef appFontSize>Nombre</th>
            <td mat-cell *matCellDef="let element">{{ element.nameCourse | uppercase }}</td>
        </ng-container>
    
        <!-- Columna DNI -->
        <ng-container matColumnDef="Comision">
            <th mat-header-cell *matHeaderCellDef appFontSize>Comisión</th>
            <td mat-cell *matCellDef="let element">{{ element.commission }}</td>
        </ng-container>
    
        <!-- Columna Acciones -->
        <ng-container matColumnDef="Acciones">
            <th mat-header-cell *matHeaderCellDef appFontSize>Acciones</th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="showDetail(element)">
                    <mat-icon>info</mat-icon>
                </button>
                <div *ngIf="session$ | async as session">
                    <div *ngIf="session.user?.isAdmin">
                        <button mat-icon-button (click)="edit(element)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button (click)="delete(element)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>