<h1 mat-dialog-title>{{ this.dialogData.title || '' }}</h1>

<div mat-dialog-content>
    <form [formGroup]="formCourse">
        <!-- Nombre -->
        <mat-form-field class="w-100 mb-2" appearance="fill">
            <mat-label>Nombre</mat-label>
            <input formControlName="nameCourse" matInput>
            <mat-error *ngIf="this.formCourse.get('nameCourse')?.errors?.['required'] && this.formCourse.get('nameCourse')?.touched">Este campo no puede quedar vacío.</mat-error>
            <mat-error *ngIf="this.formCourse.get('nameCourse')?.errors?.['maxlength'] && this.formCourse.get('nameCourse')?.touched">El nombre no puede tener más de 80 caracteres.</mat-error>
        </mat-form-field>

        <!-- Comisión -->
        <mat-form-field class="w-100 mb-2" appearance="fill" *ngIf="!this.dialogData?.modify">
            <mat-label>Comisión</mat-label>
            <input formControlName="commission" matInput>
            <mat-error *ngIf="this.formCourse.get('commission')?.errors?.['required'] && this.formCourse.get('commission')?.touched">Este campo no puede quedar vacío.</mat-error>
            <mat-error *ngIf="this.formCourse.get('commission')?.errors?.['minlength'] && this.formCourse.get('commission')?.touched">La comisión no puede tener menos de 4 caracteres.</mat-error>
            <mat-error *ngIf="this.formCourse.get('commission')?.errors?.['maxlength'] && this.formCourse.get('commission')?.touched">La comisión no puede tener más de 8 caracteres.</mat-error>
            <mat-error *ngIf="this.formCourse.get('commission')?.errors?.['pattern'] && this.formCourse.get('commission')?.touched">La comisión debe ser únicamente numérico.</mat-error>
        </mat-form-field>
    </form>
</div>

<div mat-dialog-actions>
    <button mat-button (click)="close()">Cerrar</button>
    <button mat-button (click)="update()" [disabled]="!this.formCourse.valid">Guardar</button>
</div>